body {
  font-family: "Arvo", serif;
}
ul {
  padding: 0;
  margin: 0;
  margin-block-start: 0.5em;
}
li {
  list-style: none;
  line-height: 10px;
  padding: 0;
  margin: 0;
}

.background_img {
  z-index: 1;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 700px;
  position: relative;
  z-index: 2;
}
.weather-app {
  padding: 20px;
  border: 2px solid #132743;
  border-radius: 5px;
  border-spacing: 5px 5px;
}

.form-control-input {
  margin-bottom: 17px;
  border-radius: 5px;
  height: 20px;
  line-height: 30px;
  width: 300px;
  vertical-align: middle;
  padding: 5px 10px 5px 10px !important;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  border: 2px solid #407088;
  box-sizing: unset;
}
.btn-primary {
  display: block;
  background-color: #ffcbcb;
  color: #ff414d;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-size: 15px;
  box-shadow: 1px 1px 1px #ff414d;
}
.btn-primary:hover {
  cursor: pointer;
  transition: 200ms ease-in-out;
  background-color: #70adb5;
}

.btn-success {
  display: block;
  background-color: #ffcbcb;
  color: #ff414d;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-size: 15px;
  box-shadow: 1px 1px 1px #ff414d;
}
.btn-success:hover {
  cursor: pointer;
  transition: 200ms ease-in-out;
  background-color: #70adb5;
}
.currentStatus {
  color: #41aea9;
  font-size: 20px;
}

.currentDate {
  text-transform: none;
}
.currentCity {
  color: #407088;
  font-size: 30px;
  font-weight: bold;
}
.cityW {
  text-transform: capitalize;
  text-align: justify;
  border: none;
}
.weather-icon img {
  display: inline;
  height: 70px;
  width: 70px;
  margin: 6px 9px;
}

.temperature-style {
  display: block;
  margin: -63px 100px;
  font-size: 50px;
  color: #407088;
  font-weight: bold;
  text-align: left;
  line-height: 1;
}
.temperature-style .active {
  color: #407088;
  cursor: default;
}
.temperature-style .active:hover {
  text-decoration: none;
}
.units {
  font-size: 16px;
  position: relative;
  top: -25px;
}

.humid-wind {
  font-size: 14px;
  text-align: center;
  max-width: 135px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffcbcb;
  color: #ff414d;
}
.weather-forecast {
  margin: 12px;
  padding-bottom: 22px;
  color: #ff414d;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #41aea9;
}

.weather-forecast h3 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: 15px;
  line-height: 15px;
  margin-top: 20px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  line-height: normal;
  margin: 0 auto;
  height: 48px;
  width: 48px;
  border-image: 2px solid #ffcbcb;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
.open-source {
  text-decoration: none;
  font-weight: bold;
  color: #1aa6b7;
}
.overview {
  margin-bottom: 20px;
}
