body {
  font-family: "Arvo", serif;
}
ul {
  padding: 0;
  margin: 0;
  margin-block-start: 0.5em;
}
li {
  list-style: none;
  line-height: 10px;
  padding: 0;
  margin: 0;
}
.weather-app-wrapper {
  margin: 30px auto;
  max-width: 700px;
}
.weather-app {
  padding: 20px;
  border: 1px solid #52057b;
  box-shadow: 4px 4px 4px #8675a9;
  border-radius: 5px;
  border-spacing: 5px 5px;
}

.form-control-input {
  margin-bottom: 17px;
  border-radius: 5px;
  height: 20px;
  line-height: 30px;
  width: 300px;
  vertical-align: middle;
  padding: 5px 10px 5px 10px !important;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  border: 2px solid #52057b;
  box-shadow: 4px 4px 4px #8675a9;
  box-sizing: unset;
}
.btn-primary {
  display: block;
  background-color: #52057b;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-size: 15px;
  box-shadow: 4px 4px 4px #8675a9;
}
.btn-primary:hover {
  cursor: pointer;
  transition: 200ms ease-in-out;
  color: white;
  background-color: #8675a9;
}

.btn-success {
  display: block;
  background-color: #52057b;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  font-size: 15px;
  box-shadow: 4px 4px 4px #8675a9;
}
.btn-success:hover {
  cursor: pointer;
  transition: 200ms ease-in-out;
  color: white;
  background-color: #8675a9;
}
.currentStatus {
  color: #8675a9;
  font-size: 20px;
}
.currentCity {
  color: #52057b;
  font-size: 30px;
}
.cityW {
  text-transform: capitalize;
  text-align: justify;
  border: none;
}
.weather-icon img {
  display: inline;
  height: 70px;
  width: 70px;
  margin: 6px 9px;
}

.temperature-style {
  display: block;
  margin: -63px 100px;
  font-size: 50px;
  color: #52057b;
  font-weight: bold;
  text-align: left;
  line-height: 1;
}
.temperature-style .active {
  color: #52057b;
  cursor: default;
}
.temperature-style .active:hover {
  text-decoration: none;
}
.units {
  font-size: 16px;
  position: relative;
  top: -25px;
}

.humid-wind {
  font-size: 14px;
  max-width: 127px;
  padding: 10px;
  border-radius: 5px;
  background-color: #8675a9;
  color: white;
  box-shadow: 3px 3px 3px #52057b;
}
.weather-forecast {
  margin-top: 10px;
  color: #52057b;
}

.weather-forecast h3 {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  height: 15px;
  line-height: 15px;
  margin-top: 20px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  line-height: normal;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
.open-source {
  text-decoration: none;
  font-weight: bold;
}
.overview {
  margin-bottom: 20px;
}
